.app-header {
  padding-left: .75rem !important;
  padding-right: .75rem !important;
}

.app-logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  /* background: rgba(255, 255, 255, 0.3); */
  line-height: 32px;
  font-size: 20px;
  color: #fff;
}

.ant-row-rtl .app-logo {
  float: right;
  margin: 16px 0 16px 24px;
}
